<ion-header>
  <ion-toolbar>
    <ion-title> Agendas</ion-title>
    <div class="menu">
      <a routerLink="/home">home </a>
      <a routerLink="/eventos">eventos</a>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fundo">
    <ion-input [(ngModel)]="agendas.nome" type=nome>Digita seu nome</ion-input>
    <ion-input [(ngModel)]="agendas.email" type=email>Digita seu email</ion-input>
    <ion-input [(ngModel)]="agendas.telefone" type=telefone>Digita seu telefone</ion-input>
    <ion-textarea [(ngModel)]="agendas.messagem" rows="6" cols="20" placeholder="messagem"></ion-textarea>

    <ion-button color="primary" (click)="salvar()">Cradastrar</ion-button>
    <ion-button routerLink="/lista-agenda" color="success">lista de agenda</ion-button>
 
  </div>
  
</ion-content>