<ion-header>
  <ion-toolbar>
    <ion-title>editar_agenda
      <br>
      <a routerLink="/home">home </a>
      <a routerLink="/agendas">agendas</a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fundo">
    <ion-input [(ngModel)]="agendas.nome" type=nome>Digite seu nome</ion-input>
    <ion-input [(ngModel)]="agendas.email" type=email>Digite seu email</ion-input>
    <ion-input [(ngModel)]="agendas.telefone" type=telefone>Digite seu telefone</ion-input>
    <ion-textarea [(ngModel)]="agendas.messagem" rows="6" cols="20" placeholder="messagem"></ion-textarea>

    <ion-button color="primary" (click)="edit()">Cradastrar</ion-button>
    <ion-button routerLink="/lista-agenda" color="success">lista de agenda</ion-button>
 
  </div>
</ion-content>
