<ion-header>
  <ion-toolbar>
    <ion-title>lista_agenda
      <div class="menu">
        <a routerLink="/home">home </a>
        <a routerLink="/agendas">Cradastrar Agenda</a>
      </div>
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fundo">
  <div  class="fundo1" *ngFor="let item of Agendas_crad">
    <br>
    <ion-list>
      <ion-item>
        <ion-label>Nome:</ion-label> <ion-label>{{item.nome}}</ion-label>
      </ion-item>
    </ion-list>
    <br>
    <ion-list>
      <ion-item>
        <ion-label>email:</ion-label>  <ion-label>{{item.email}}</ion-label>
      </ion-item>
    </ion-list>
    <br>
    <ion-list>
      <ion-item>
        <ion-label>telefone:</ion-label> <ion-label>{{item.telefone}}</ion-label>
      </ion-item>
    </ion-list>
    <br>
        <ion-list>
          <ion-item>
            <ion-label>messagem:</ion-label> <ion-label>{{item.messagem}}</ion-label>
          </ion-item>
        </ion-list>
        <br>
        <ion-button routerLink="/editar-agenda" color="success" (click)="edit()">editar de agenda</ion-button>
  </div>
</div>
</ion-content>
