<ion-header>
  <ion-toolbar>
    <ion-title>avaliar</ion-title>
    <div class="menu">
      <a routerLink="/home">home </a>
  
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fundo">
    <ion-label>avaliação com Estrelas </ion-label>
    <ion-button (click)="avalir()"><ion-icon name="star"></ion-icon>1</ion-button>
    <ion-button><ion-icon name="star"></ion-icon>2</ion-button>
    <ion-button><ion-icon name="star"></ion-icon>3</ion-button>
    <ion-button><ion-icon name="star"></ion-icon>4</ion-button>
    <ion-button><ion-icon name="star"></ion-icon>5</ion-button>
  </div>
</ion-content>
