<ion-header>
  <ion-toolbar>
    <ion-title>Eventos
      <div class="menu" >
        <a  routerLink="/home">home </a>
        <a routerLink="/agendas">agenda </a>
      </div>
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fundo">
    <div class="form">
      <ion-input  [(ngModel)]="Eventos.nome_eventos" type= nome>Digita o nome do evento</ion-input>
      <ion-input [(ngModel)]="Eventos.Data" type= date> Data:</ion-input>
      <ion-input [(ngModel)]="Eventos.Hora" type= time>horas:</ion-input>
      <br>
      <ion-label>lembrete:</ion-label>
      <ion-checkbox  color="primary"></ion-checkbox>
      <br>
      <ion-textarea [(ngModel)]="Eventos.messagem" rows="6" cols="20" placeholder="messagem"></ion-textarea>
    
        <ion-button (click)="salvar()" color="primary">Cradastrar</ion-button>
      
        
        <ion-button routerLink="/list" color="success">lista de evento</ion-button>
    </div>
</div>


</ion-content>
